<h1>Hola IFB</h1>
<h3>Toma 20 min mas o menos para crear esta pagína y subirla a la web!</h3>
<p>
  Esta basado en ruby on rails así que es muy poderoso, solo tienes que tener una idea y programarla.
  Recien comenzaré con este proyecto.
</p>
